:root {
  --yellow: #d9a405;
  --blue: #007bff;
  --green: #01b101;
  --offBlack: #333;
  --white: #ffffff;
  margin: 10px;
  color: var(--white);
  background-color: var(--offBlack);
}

body {
  background-color: var(--offBlack);
}

h1 {
  color: var(--green);
}
h2 {
  color: var(--yellow);
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: row;
}

.inputLabel {
  margin-right: 10px;
}
.input {
  width: 200px;
  border-radius: 5px;
}
.button {
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  margin: 3px;
  width: 50px;
  box-shadow: none;
}
